{% extends "base.html" %}
{% load static %}s
{% block header %}
{% load plotly_dash %}
{% plotly_header %}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {%plotly_direct name="bda_va_2"%}
        </div>
    </div>
</div>
<div class="container px-4">
    <div class="row mb-2">
        <div class="col-md-12">
            <h1>Visualization: Assignment 2</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>Use visualization to back up decisions about discount amounts for segments.</p>
            <p>Also, check purchasing patterns and wherther something can and should be done about them.</p>
            <a href="{% static 'dash_apps/bda_va_2/financial_insights_assignment_2_raw.xlsx' %}" download="financial_insights_assignment_2_raw.xlsx" class="btn btn-info my-2">Download dataset (excel)</a><br>
            <a href="https://colab.research.google.com/drive/1VLzTJ3ctsEXKi-0S60dhDzMFGK2o91Hy?usp=sharing" class="btn btn-danger my-2" target="_blank">
                <img src="{% static 'colab_logo.png' %}" alt="Colab logo" class="img-fluid" width="30">
                Open in Google Colab
            </a><br>
            <a href="https://github.com/MiikaVirpio/my-web/tree/main/miika/dash_apps/bda_va_2" class="btn btn-success my-2" target="_blank">
                <img src="{% static 'github_logo.png' %}" alt="GitHub logo" class="img-fluid" width="30">
                Read code at GitHub
            </a>
        </div>
    </div>
    <div class="row my-4">
        <div class="col-md-12">
            <h2>Code</h2>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-8">
            <img src="{% static 'dash_apps/bda_va_2/structure_plot.png' %}" alt="Profit structure plot" class="img-fluid">
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">Plot</div>
                <div class="card-body">
                  <h4 class="card-title">Discount</h4>
                  <p class="card-text">
                    Target here is to see the role of discount in the profit structure.
                    While were at it, might as well plot the whole structure.<br><br>
                    If average profit margin is 20% a 7% total discount % does not sound bad.
                    For 10% margin it kinda does.
                  </p>
                </div>
              </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <img src="{% static 'dash_apps/bda_va_2/monthly_plot.png' %}" alt="make_dataset_img" class="img-fluid">
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
                <div class="card-header">Plot</div>
                <div class="card-body">
                  <h4 class="card-title">Months</h4>
                  <p class="card-text">
                    Here one line of code does a lot of magic for us.
                    <em class="text-warning">DataFrame.pivot_table() <3 </em><br><br>
                    This two line aggregation visualization is worth remembering.
                  </p>
                </div>
              </div>
        </div>
    </div>
</div>
{% endblock %}
{% block afterbody %}
{% plotly_footer %}
{% endblock %}